1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [ ]:
length=float(input())
breadth=float(input())
if length==breadth:
    print('It is squre')
else:
    print('It is not squre')

 2.Take three integer values from the user and print the greatest among them

In [ ]:
user1=int(input('Enter number'))
user2=int(input('Enter number'))
user3=int(input('Enter number'))
if user1>user2 and user1>user3:
    print('The greatest number is',user1)
elif user2>user1 and user2>user3:
    print('The greatest number is',user2)
else:
    print('The greatest number is', user3)

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [ ]:
attend_class=int(input())
total_class=int(input())
attend_per=(attend_class/total_class)*100
if attend_per>=75:
    print('you are eligible to sit in an exam')
else:
    print('you are not eligible to sit in an exam')

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [ ]:
mark=int(input('Enter the mark'))
if mark<25:
    print('The Grade is F')
elif mark<45:
    print('The Grade is E')
elif mark<50:
    print('The Grade is D')
elif mark<60:
    print('The Grade is C')
elif mark<80:
    print('The Grade is B')
elif mark<90:
    print('The Grade is A')
else:
    print('The Grade is A+')

5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [ ]:

for i in range(7, 3, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

In [ ]:
i = 7
while i > 3:
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    print()
    i -= 1

6. Display numbers from -100 to -10 using for loop.

In [ ]:
for i in range(-100,-9):
    print(i, end=' ')

7. Write a program to sum all prime numbers within a range of 10 to 1000.

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [ ]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n - 1)

n = 7
result = fact(n)

print("The factorial of", n, "is:", result)

9. Reverse a given integer number 27956240710.

In [ ]:
def reverse_integer(num):
    reversed_num = 0

    while num != 0:
        remainder = num % 10
        reversed_num = (reversed_num * 10) + remainder
        num //= 10

    return reversed_num

number = 27956240710
reversed_number = reverse_integer(number)

print('origin Num:', number)
print('Reverse Num:', reversed_number)

10. Print the following pattern using for and while loop.

In [ ]:

for i in range(1, 5):
    if i <= 3:
        print('# # #')
    else:
        print('# #')

In [ ]:
i = 1
while i <= 4:
    if i <= 3:
        print("# # #")
    else:
        print("# #")
    i += 1

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [ ]:
a, b = 0, 1

print('Fibonacci series using for loop:')
print(a, end=' ')
print(b, end=' ')

for _ in range(13):
    a, b = b, a + b
    print(b, end=' ')

In [ ]:
a, b = 0, 1
count = 0

print("Fibonacci series using while loop:")
print(a, end=' ')
print(b, end=' ')

while count < 13:
    a, b = b, a + b
    print(b, end=' ')
    count += 1

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [ ]:
li = [1, 3, 5, [2, 3], True]
li[3].remove(2)
li[3].append(3)
li[-1]=False
print(li)

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [ ]:
s1 = {1,4,6,8}
s2 = {1,2,10,True}
S3=s1.intersection(s2)
print(S3)

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [ ]:

user=input('Enter the list  ')
li=[int(i)for i in user.split(',')]
se=set(li)
max_num=max(se)
print('Find the unique Number',se)
print('Find the max number',max_num)

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [ ]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict['region'] = Dict.pop('country')

print(Dict)

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [ ]:
import pandas as pd
num=[10,100,300]
df=pd.DataFrame(num,columns=['number'])
print(df)

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [ ]:
Dict={ "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict['age']=30
print(Dict)